In [ ]:
# Nama : Afiq Ilham AKbar
# NIM : 2602184366

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data_C.csv')
df.head()

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,0,157138,15638646,Chinweike,628.0,Spain,Female,50.0,4,160133.08,1,1,1,653.53,0
1,1,116144,15695825,Onwumelu,710.0,Spain,Male,34.0,8,0.00,2,1,1,72993.73,0
2,2,145603,15592765,Marks,663.0,France,Female,23.0,8,125470.81,1,1,1,174536.17,0
3,3,79929,15807525,Onyemachukwu,644.0,Spain,Male,45.0,8,0.00,2,0,1,28690.90,0
4,4,52554,15611551,Hill,627.0,Spain,Male,23.0,5,0.00,2,1,0,134483.07,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41258 entries, 0 to 41257
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41258 non-null  int64
 1   id               41258 non-null  int64
 2   CustomerId       41258 non-null  int64
 3   Surname          41258 non-null  object
 4   CreditScore      41246 non-null  float64
 5   Geography        41258 non-null  object
 6   Gender           41258 non-null  object
 7   Age              41258 non-null  float64
 8   Tenure           41258 non-null  int64
 9   Balance          41258 non-null  float64
 10  NumOfProducts    41258 non-null  int64
 11  HasCrCard        41258 non-null  int64
 12  IsActiveMember   41258 non-null  int64
 13  EstimatedSalary  41258 non-null  float64
 14  churn            41258 non-null  int64
dtypes: float64(4), int64(8), object(3)
memory usage: 4.7+ MB

In [4]:
df.isnull().sum()

Unnamed: 0          0
id                  0
CustomerId          0
Surname             0
CreditScore        12
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
churn               0
dtype: int64

In [5]:
print(np.mean(df['CreditScore']))

655.8028899772099

In [6]:
df['CreditScore'].fillna(656.58, inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41258 entries, 0 to 41257
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41258 non-null  int64
 1   id               41258 non-null  int64
 2   CustomerId       41258 non-null  int64
 3   Surname          41258 non-null  object
 4   CreditScore      41258 non-null  float64
 5   Geography        41258 non-null  object
 6   Gender           41258 non-null  object
 7   Age              41258 non-null  float64
 8   Tenure           41258 non-null  int64
 9   Balance          41258 non-null  float64
 10  NumOfProducts    41258 non-null  int64
 11  HasCrCard        41258 non-null  int64
 12  IsActiveMember   41258 non-null  int64
 13  EstimatedSalary  41258 non-null  float64
 14  churn            41258 non-null  int64
dtypes: float64(4), int64(8), object(3)
memory usage: 4.7+ MB

In [8]:
df.duplicated().sum()

0

In [9]:
from sklearn.preprocessing import LabelEncoder
labels = LabelEncoder()
df['Surname'] = labels.fit_transform(df['Surname'])
df['Geography'] = labels.fit_transform(df['Geography'])
df['Gender'] = labels.fit_transform(df['Gender'])
df['Age'] = labels.fit_transform(df['Age'])
df['CreditScore'] = labels.fit_transform(df['CreditScore'])
df['Balance'] = labels.fit_transform(df['Balance'])
df['EstimatedSalary'] = labels.fit_transform(df['EstimatedSalary'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41258 entries, 0 to 41257
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41258 non-null  int64
 1   id               41258 non-null  int64
 2   CustomerId       41258 non-null  int64
 3   Surname          41258 non-null  int64
 4   CreditScore      41258 non-null  int64
 5   Geography        41258 non-null  int64
 6   Gender           41258 non-null  int64
 7   Age              41258 non-null  int64
 8   Tenure           41258 non-null  int64
 9   Balance          41258 non-null  int64
 10  NumOfProducts    41258 non-null  int64
 11  HasCrCard        41258 non-null  int64
 12  IsActiveMember   41258 non-null  int64
 13  EstimatedSalary  41258 non-null  int64
 14  churn            41258 non-null  int64
dtypes: int64(15)
memory usage: 4.7 MB

In [11]:
df['churn'].value_counts()

churn
0    32410
1     8848
Name: count, dtype: int64

In [12]:
df.drop('id', axis = 1, inplace = True)
df.drop('CustomerId', axis = 1, inplace = True)
df.drop('Surname', axis = 1, inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41258 entries, 0 to 41257
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41258 non-null  int64
 1   CreditScore      41258 non-null  int64
 2   Geography        41258 non-null  int64
 3   Gender           41258 non-null  int64
 4   Age              41258 non-null  int64
 5   Tenure           41258 non-null  int64
 6   Balance          41258 non-null  int64
 7   NumOfProducts    41258 non-null  int64
 8   HasCrCard        41258 non-null  int64
 9   IsActiveMember   41258 non-null  int64
 10  EstimatedSalary  41258 non-null  int64
 11  churn            41258 non-null  int64
dtypes: int64(12)
memory usage: 3.8 MB

In [14]:
x = df.drop('churn', axis =1)
y = df['churn']

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [16]:
from sklearn import set_config
set_config(print_changed_only = False)

In [17]:
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [18]:
y_predict = rf.predict(x_test)

In [19]:
from sklearn.metrics import classification_report, accuracy_score
print('Classification Report')
print(classification_report(y_test, y_predict))
print("Accuracy: %.2f%%"% (accuracy_score(y_test, y_predict) * 100))

Classification Report
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      6469
           1       0.73      0.53      0.61      1783

    accuracy                           0.86      8252
   macro avg       0.80      0.74      0.76      8252
weighted avg       0.85      0.86      0.85      8252

Accuracy: 85.56%

In [20]:
from sklearn import set_config
set_config(print_changed_only = False)

In [21]:
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings('ignore')

xg = XGBClassifier()
xg.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, objective='binary:logistic', ...)

In [22]:
y_predict2 = xg.predict(x_test)

In [23]:
from sklearn.metrics import classification_report, accuracy_score
print('Classification Report')
print(classification_report(y_test, y_predict2))
print("Accuracy: %.2f%%"% (accuracy_score(y_test, y_predict2) * 100))

Classification Report
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      6469
           1       0.72      0.55      0.62      1783

    accuracy                           0.86      8252
   macro avg       0.80      0.75      0.77      8252
weighted avg       0.85      0.86      0.85      8252

Accuracy: 85.58%

In [24]:
df['CreditScore'].min()

0

In [25]:
df['CreditScore'].max()

444

In [26]:
df['Balance'].min()

0

In [27]:
df['Balance'].max()

11409

In [28]:
df['NumOfProducts'].min()

1

In [29]:
df['NumOfProducts'].max()

4

In [30]:
df['Tenure'].min()

0

In [31]:
df['Tenure'].max()

10

In [32]:
df['EstimatedSalary'].min()

0

In [33]:
df['EstimatedSalary'].max()

20840

In [34]:
df['Age'].min()

0

In [35]:
df['Age'].max()

70